.body {
     margin: 0em;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: hsl(0,0%,100%);
}

  .page:target {
    left: 0vw;
    z-index: 1;
}

myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

h1 { color: darkblue; 
	 text-decoration: underline;
	 font-size: 26pt;
	 }
	 
table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 3px solid black;
}

td {
	text-align: center;
	}
li {  display: inline-block 
	}

body {
	background: #00BFFF;
	}
	
h2 {
	font-family: "Braggadocio";
	text-decoration: underline;
	color: #0000CD;
	font-size: 44pt;
	text-align: center;
}

h3 img {
    display: block;
    margin: auto;
    width: 20%;
}

h4 {
	font-family: "Braggadocio";
	color: black;
	font-size: 19pt;
	text-align: center;
}

h5 {
	font-family: "Braggadocio";
	text-decoration: underline;
	color: #0000CD;
	font-size: 44pt;
	text-align: center;
}


h8 {
	font-family: "Braggadocio";
	text-decoration: underline;
	color: #0000CD;
	font-size: 54pt;
	text-align: center;
}


h10 IMG {
	display: block;
    margin: auto;
    width: 20%;
    float: left;
}

h11 IMG {
	display: block;
    margin: auto;
    width: 20%;
    float: right;
}

h9 {
	font-family: "Braggadocio";
	color: black;
	font-size: 19pt;
	text-align: center;
}

h12 {
	font-family: "Braggadocio";
	text-decoration: underline;
	color: #0000CD;
	font-size: 44pt;
	text-align: center;
}

h6 {
	float: left;
}

h7 img {
    display: block;
    margin: auto;
    width: 50%;
    float: right;
    border:3px solid #021a40;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}	
